
			{% for article in articles %}
				{% include 'Components/_card.html.twig' %}
                {% else %}
                <div class=" alert alert-info" role="alert" > il n'y a rien a montrer </div>
			{% endfor %}